.review input:not([type]) {
    float: left;
    display: block;
    width: 73%;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    margin-right: 1%;
    height: 3.9rem;
    padding-left: 10px;
}
