* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* TODO: Add focus visible from https://nelo.is/writing/styling-better-focus-states/ */
*:focus {
  outline: none;
}

[role="button"] {
  cursor: pointer;
}

@media print {
    .ant-modal {
        margin: 0;
        border: none;
        box-shadow: none;
    }

    .ant-modal-content {
        box-shadow: none;
    }

    .ant-modal-close-x * {
        display: none;
    }

    .print-btn * {
        display: none;
    }
}
