@font-face {
  font-family: 'Silka';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/silka/silka-light-webfont.woff2') format('woff2'),
    url('./fonts/silka/silka-light-webfont.woff') format('woff'),
    url('./fonts/silka/silka-light-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Silka';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/silka/silka-regular-webfont.woff2') format('woff2'),
    url('./fonts/silka/silka-regular-webfont.woff') format('woff'),
    url('./fonts/silka/silka-regular-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Silka';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/silka/silka-medium-webfont.woff2') format('woff2'),
    url('./fonts/silka/silka-medium-webfont.woff') format('woff'),
    url('./fonts/silka/silka-medium-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Silka';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/silka/silka-bold-webfont.woff2') format('woff2'),
    url('./fonts/silka/silka-bold-webfont.woff') format('woff'),
    url('./fonts/silka/silka-bold-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'IowanOldStyle';
    src: url('./fonts/iowan-old-style/iowan-old-style-bold.woff2') format('woff2'),
          url('./fonts/iowan-old-style/iowan-old-style-bold.woff') format('woff'),
          url('./fonts/iowan-old-style/iowan-old-style-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'IowanOldStyle';
    src: url('./fonts/iowan-old-style/iowan-old-style-bold-italic.woff2') format('woff2'),
          url('./fonts/iowan-old-style/iowan-old-style-bold-italic.woff') format('woff'),
          url('./fonts/iowan-old-style/iowan-old-style-bold-italic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;

}

@font-face {
    font-family: 'IowanOldStyle';
    src: url('./fonts/iowan-old-style/iowan-old-style.woff2') format('woff2'),
          url('./fonts/iowan-old-style/iowan-old-style.woff') format('woff'),
          url('./fonts/iowan-old-style/iowan-old-style.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'IowanOldStyle';
    src: url('./fonts/iowan-old-style/iowan-old-style-italic.woff2') format('woff2'),
          url('./fonts/iowan-old-style/iowan-old-style-italic.woff') format('woff'),
          url('./fonts/iowan-old-style/iowan-old-style-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;

}

html {
  font-family: 'Silka', sans-serif;
}
