.where-dentist-search {
  float: left;
  width: 42%;
}

.when-dentist-search {
  float: left;
  width: 42%;
  margin-left: 3%;
}

#submit-dentist-search {
  background-color: #F25F14 !important;
  color: #FFF !important;
}
