@media screen and (min-width: 541px)
{
  .page-footer {
    padding-top: 2%;
    background-color: #3F4547;
    height: 200px;
  }

  .footer-container {
    float: left;
    width: 30%;
    margin-left: 7%;
  }

  .page-footer .footer-copyright {
    display: block;
    font-size: 12px;
  }

  #footer-logo {
    margin-top: 15%;
    width: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  #footer-chat-logo {
    float: right;
    margin-right: 9%;
  }
}

@media screen and (max-width: 540px)
{
  .page-footer {
    padding-top: 4%;
    background-color: #3F4547;
    height: 250px;
  }

  .footer-container {
    width: 80%;
    margin: auto;
  }

  .page-footer .footer-copyright {
    text-align: center;
    display: block;
    font-size: 14px;
    margin-top: 5%;
    line-height: 1.42;
  }

  .footer-item {
    text-align: center;
  }

  #footer-logo {
    position: relative;
    display: block;
    margin: auto;
    width: 35px;
  }

  #footer-chat-logo {
    float: right;
    margin-right: 9%;
  }
}
