.modal-close {
  margin-left: 4%;
  color: #000;
}
.modal-content {
  margin: auto;
}

.modal-overlay {
  z-index: 2;
  display: block;
  opacity: 0.5;
}

.modal1 {
  width: 45%;
}

#googleLoginBtn {
  width: 90%;
  display: block;
  margin-top: -3%;
  margin-left: auto;
  margin-right: auto;
  color: black;
  text-align: center;
  border-radius: 5px;
  border-color: #555;
  border-style: solid;
}
